@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary: #ff6a3e;
  --primaryLight: #ffba43;
  --secondary: #ffba43;
  --secondaryLight: #ffba43;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  --viaPurple:#602b88;
  --viaLightPurple: #ae8dce;
  --viaBase: #f3edf6;
  --viaSlate: #837ba1;
  --viaRed: #a2226e;
  --viaGreen: #14733c;
  --viaBlue: #8cb8c2;
  --viaPink: #d65e97;
}
html{
  scroll-behavior: smooth;

}
body {
margin: 0;
padding: 0;
font-family: "Quattrocento Sans", sans-serif;
background: var(--viaPink);
scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
}

*, *:before, *:after {
box-sizing: border-box;
scroll-behavior: smooth;
}

.cs-topper {
font-size: var(--topperFontSize);
line-height: 1.2em;
text-transform: uppercase;
text-align: inherit;
letter-spacing: .1em;
font-weight: 700;
color: var(--viaPink);
margin-bottom: 0.25rem;
display: block;
}

.cs-title {
font-size: var(--headerFontSize);
font-weight: 900;
line-height: 1.2em;
text-align: inherit;
max-width: 43.75rem;
margin: 0 0 1rem 0;
color: var(--headerColor);
position: relative;
}

.cs-text {
font-size: var(--bodyFontSize);
line-height: 1.5em;
text-align: inherit;
width: 100%;
max-width: 40.625rem;
margin: 0;
color: var(--bodyTextColor);
}
    